a:link, a:visited {
    background-color: #3B6A90;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #0285D7;
}
a:center{
     alignment-baseline: central
}